#canvas {
  width : 1200px;
  height : 400px;
  border: 1px solid black;
}

body {
  display: flex;
  justify-content:center;
  padding-top: 50px;
}

@font-face {
  font-family: "wolf";
  src: url("./assets/fonts/wolfenstein.ttf");
}
